.container {
	margin: 60px auto;
	min-height: 100vh;
	max-width: 900px;
	color: var(--grey-1);
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 2.5rem;
	color: var(--white);
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 8px;
}

.card {
	background: var(--text-light);
	color: var(--grey-1);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card:hover {
	transform: translateY(-4px);
}

.imageContainer {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	background: var(--grey-1);
	overflow: hidden;
}

.image {
	object-fit: cover;
}

.cardContent {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.card h2 {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0;
	line-height: 1.4;
}

.value {
	font-size: 1rem;
}

.loadMoreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	margin-block: 3rem;
}

.itemsCount {
	color: var(--white);
	font-size: 0.9rem;
	margin: 0;
}

.categoryFilter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	margin-bottom: 2rem;
}

.categoryLinks {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.categoryTab {
	color: var(--white);
	font-size: 1.2rem;
}

.categoryTabActive {
	font-weight: 600;
}

@media (max-width: 720px) {
	.categoryFilter {
		align-items: flex-start;
		flex-direction: column;
	}

	.categoryLinks {
		gap: 20px;
	}
}
