.main {
	padding: 2rem;
	background:
		linear-gradient(135deg, #ff81f214, transparent 32%), var(--grey-1);
}

.footer {
	margin: 2rem;
	display: flex;
	align-items: center;
	gap: 8px;

	font-size: 0.75rem;
	color: var(--white);
}
