.page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}

.welcomeContainer {
	text-align: center;
	max-width: 600px;
	padding: 2rem;
}

.welcomeContainer h1 {
	font-size: 1.75rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

.welcomeContainer p {
	font-size: 1rem;
	margin-bottom: 2rem;
}

.enterButton {
	display: inline-block;
	font-size: 1rem;
	border-radius: 20px;
	transform: translateY(0px);
	color: var(--text-dark);
	padding: 0.5rem 1rem;
	background-color: var(--foreground);
	cursor: pointer;
	border: none;
	max-width: fit-content;
	box-shadow: 0 8px 32px #0000001f;
	transition: all 0.3s ease;
}

.enterButton:hover {
	box-shadow: 0 8px 12px #0000001f;
	transform: translateY(2px);
}
