.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 3rem 3rem 5rem 3rem;

	background: var(--text-light);
	color: var(--grey-1);

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.productWrapper {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

.productDetails {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	flex: 1;
}

.productImage {
	display: flex;
	max-width: 100%;
}

.productImage img {
	object-fit: cover;
	max-width: 100%;
}

.title {
	font-size: 2rem;
	font-weight: 600;
}

.subtitle {
	font-size: 0.8rem;
	margin: 0;
}

.price {
	font-size: 1.2rem;
	font-style: italic;
}

.sizeSelector,
.colorSelector {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.colorSwatches {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.colorSwatches button {
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	line-height: 1.1;
	border: none;
	background: var(--grey-1);
	color: var(--text-light);
	cursor: pointer;
}

.buyButton {
	font-size: 1rem;
	font-weight: 600;
	color: var(--white);
	padding: 0.5rem 1rem;
	background-color: var(--magenta-2);
	cursor: pointer;
	border: none;
	max-width: fit-content;
	border-radius: 4px;
}

.backButton {
	font-size: 0.75rem;
	margin-bottom: 1rem;
	display: inline-block;
}

.description {
	font-weight: 0.8rem;
}

.description h2 {
	font-size: 1.25rem;
	margin: 0 0 0.75rem 0;
}

.description p {
	margin: 0;
	line-height: 1.6;
}

.detail {
	display: flex;
	gap: 0.5rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid var(--white);
}

.label {
	font-weight: 600;
	min-width: 150px;
}
